.container {
    max-width: 500px;
    margin: 100px auto 150px auto;
    background-color: white;
    border-radius: 20px;
    padding: 50px 20px;
    text-align: center;
}

.container.g{
    border-top: 3px solid lawngreen;
}

.container.r{
    border-top: 3px solid red;
}